# 8. 데이터 선택 (iloc)
i : integer location. 정수 위치를 가지고 데이터 가져옴.

In [1]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [2]:
df.iloc[0:4] ## 0행부터 3행까지의 데이터를 가져옴

       이름   학교    키  국어  영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197  90  85  100  95  85      Python
2번    정대만  북산고  184  40  35   50  55  25        Java
3번    송태섭  북산고  168  80  75   70  80  75  Javascript
4번    서태웅  북산고  187  40  60   70  75  80         NaN

In [3]:
df.iloc[3:5, 2:4] # 마지막 끝부분을 포함하지 않음. 그 직전까지 가져옴.

        키  국어
지원번호
4번    187  40
5번    188  15

In [4]:
df.iloc[:,2:6] # 모든 행 가져옴.

        키   국어   영어   수학
지원번호
1번    197   90   85  100
2번    184   40   35   50
3번    168   80   75   70
4번    187   40   60   70
5번    188   15   20   10
6번    202   80  100   95
7번    188   55   65   45
8번    190  100   85   90

In [6]:
df.iloc[[0,1],2] # 1, 2행 학생의 3열 데이터

지원번호
1번    197
2번    184
Name: 키, dtype: int64