# 12. 데이터 수정

In [15]:
import pandas as pd
df = pd.read_excel('score.xlsx', index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

## Column 수정

In [3]:
df['학교'].replace({'북산고':'상북고'}, inplace=True)

In [4]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df['학교'].replace({'상북고':'북산고', '능남고':'무슨고'}, inplace=True)

In [7]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python
2번    정대만  북산고  184   40   35   50  55  25        Java
3번    송태섭  북산고  168   80   75   70  80  75  Javascript
4번    서태웅  북산고  187   40   60   70  75  80         NaN
5번    강백호  북산고  188   15   20   10  35  10         NaN
6번    변덕규  무슨고  202   80  100   95  85  80           C
7번    황태산  무슨고  188   55   65   45  40  35      PYTHON
8번    윤대협  무슨고  190  100   85   90  95  95          C#

In [8]:
df['학교'].replace({'북산고':'상북고', '무슨고':'능남고'}, inplace=True)

In [9]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      Python
2번    정대만  상북고  184   40   35   50  55  25        Java
3번    송태섭  상북고  168   80   75   70  80  75  Javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [10]:
df['SW특기'] = df['SW특기'].str.lower()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      python
2번    정대만  상북고  184   40   35   50  55  25        java
3번    송태섭  상북고  168   80   75   70  80  75  javascript
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           c
7번    황태산  능남고  188   55   65   45  40  35      python
8번    윤대협  능남고  190  100   85   90  95  95          c#

In [11]:
df['SW특기'] = df['SW특기'].str.upper()
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    채치수  상북고  197   90   85  100  95  85      PYTHON
2번    정대만  상북고  184   40   35   50  55  25        JAVA
3번    송태섭  상북고  168   80   75   70  80  75  JAVASCRIPT
4번    서태웅  상북고  187   40   60   70  75  80         NaN
5번    강백호  상북고  188   15   20   10  35  10         NaN
6번    변덕규  능남고  202   80  100   95  85  80           C
7번    황태산  능남고  188   55   65   45  40  35      PYTHON
8번    윤대협  능남고  190  100   85   90  95  95          C#

In [31]:
df['학교'] = df['학교'] + '등학교'

In [33]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

## Column 추가

In [16]:
df['총합'] = df['국어'] + df['영어'] + df['수학'] + df['과학'] + df['사회']

In [17]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455
2번    정대만  북산고  184   40   35   50  55  25        Java  205
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325
5번    강백호  북산고  188   15   20   10  35  10         NaN   90
6번    변덕규  능남고  202   80  100   95  85  80           C  440
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240
8번    윤대협  능남고  190  100   85   90  95  95          C#  465

In [18]:
df['결과'] = "Fail"

In [19]:
df.loc[df['총합'] > 400, '결과'] = "Pass"

In [20]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  465  Pass

## Column 삭제

In [22]:
df.drop(columns = ['총합']) # 총합 column을 삭제

       이름   학교    키   국어   영어   수학  과학  사회        SW특기    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  Pass

In [23]:
df.drop(columns = ['국어', '영어', '수학']) # 국어 영어 수학 컬럼을 삭제

       이름   학교    키  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197  95  85      Python  455  Pass
2번    정대만  북산고  184  55  25        Java  205  Fail
3번    송태섭  북산고  168  80  75  Javascript  380  Fail
4번    서태웅  북산고  187  75  80         NaN  325  Fail
5번    강백호  북산고  188  35  10         NaN   90  Fail
6번    변덕규  능남고  202  85  80           C  440  Pass
7번    황태산  능남고  188  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  95  95          C#  465  Pass

## Row 삭제

In [24]:
df.drop(index = '4번')

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  465  Pass

In [25]:
filt = df['수학'] < 80 # 수학 점수가 80점 미만인 학생 필터링

In [26]:
df[filt]

       이름   학교    키  국어  영어  수학  과학  사회        SW특기   총합    결과
지원번호
2번    정대만  북산고  184  40  35  50  55  25        Java  205  Fail
3번    송태섭  북산고  168  80  75  70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187  40  60  70  75  80         NaN  325  Fail
5번    강백호  북산고  188  15  20  10  35  10         NaN   90  Fail
7번    황태산  능남고  188  55  65  45  40  35      PYTHON  240  Fail

In [27]:
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [28]:
df.drop(index = df[filt].index)

       이름   학교    키   국어   영어   수학  과학  사회    SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85  Python  455  Pass
6번    변덕규  능남고  202   80  100   95  85  80       C  440  Pass
8번    윤대협  능남고  190  100   85   90  95  95      C#  465  Pass

## Row 추가

In [29]:
df.loc['9번'] = ['이정환', '해남고', 184, 90, 90, 90, 90, 90, 'Kotlin', 450, 'Pass']

In [30]:
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고  187   40   60   70  75  80         NaN  325  Fail
5번    강백호  북산고  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고  184   90   90   90  90  90      Kotlin  450  Pass

## Cell 수정

In [34]:
df.loc['4번', 'SW특기'] = "Python" # 4번 학생의 SW특기를 Python으로.

In [35]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  북산고등학교  188   15   20   10  35  10         NaN   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

In [36]:
df.loc['5번', ['SW특기', '학교']] = ['C', '능남고등학교']

In [37]:
df

       이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합    결과
지원번호
1번    채치수  북산고등학교  197   90   85  100  95  85      Python  455  Pass
2번    정대만  북산고등학교  184   40   35   50  55  25        Java  205  Fail
3번    송태섭  북산고등학교  168   80   75   70  80  75  Javascript  380  Fail
4번    서태웅  북산고등학교  187   40   60   70  75  80      Python  325  Fail
5번    강백호  능남고등학교  188   15   20   10  35  10           C   90  Fail
6번    변덕규  능남고등학교  202   80  100   95  85  80           C  440  Pass
7번    황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240  Fail
8번    윤대협  능남고등학교  190  100   85   90  95  95          C#  465  Pass
9번    이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450  Pass

## Column 순서 변경

In [38]:
cols = list(df.columns)
cols

['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '총합', '결과']

In [40]:
df = df[[cols[-1]] + cols[0:-1]] # 내부가 리스트형으로 들어가야함.

In [41]:
df # 맨 뒤에있는 결과 컬럼을 앞으로 가져옴

        결과   이름      학교    키   국어   영어   수학  과학  사회        SW특기   총합
지원번호
1번    Pass  채치수  북산고등학교  197   90   85  100  95  85      Python  455
2번    Fail  정대만  북산고등학교  184   40   35   50  55  25        Java  205
3번    Fail  송태섭  북산고등학교  168   80   75   70  80  75  Javascript  380
4번    Fail  서태웅  북산고등학교  187   40   60   70  75  80      Python  325
5번    Fail  강백호  능남고등학교  188   15   20   10  35  10           C   90
6번    Pass  변덕규  능남고등학교  202   80  100   95  85  80           C  440
7번    Fail  황태산  능남고등학교  188   55   65   45  40  35      PYTHON  240
8번    Pass  윤대협  능남고등학교  190  100   85   90  95  95          C#  465
9번    Pass  이정환  해남고등학교  184   90   90   90  90  90      Kotlin  450

In [42]:
df = df[['결과', '이름', '학교']] # 결국 [] 안의 컬럼이름 순서대로 배열이 되는 것

In [43]:
df

        결과   이름      학교
지원번호
1번    Pass  채치수  북산고등학교
2번    Fail  정대만  북산고등학교
3번    Fail  송태섭  북산고등학교
4번    Fail  서태웅  북산고등학교
5번    Fail  강백호  능남고등학교
6번    Pass  변덕규  능남고등학교
7번    Fail  황태산  능남고등학교
8번    Pass  윤대협  능남고등학교
9번    Pass  이정환  해남고등학교

## Column 이름 변경

In [44]:
df.columns

Index(['결과', '이름', '학교'], dtype='object')

In [45]:
df.columns = ['Result', 'Name', 'School']

In [46]:
df

     Result Name  School
지원번호
1번     Pass  채치수  북산고등학교
2번     Fail  정대만  북산고등학교
3번     Fail  송태섭  북산고등학교
4번     Fail  서태웅  북산고등학교
5번     Fail  강백호  능남고등학교
6번     Pass  변덕규  능남고등학교
7번     Fail  황태산  능남고등학교
8번     Pass  윤대협  능남고등학교
9번     Pass  이정환  해남고등학교